.relative{
	width:1500px;
	height:1000px;
	position:relative;
}
.left{
	width:150px;
	height:170px;
	position:absolute;
	left:250px;
	top:340px;
	animation-name:wamosvla;
	-webkit-animation: wamosvla 5s infinite;  Safari 4.0 - 8.0 

}
  Standard syntax 
@keyframes wamosvla{

  from {top: 0px;}
  to {top: 200px;}
   /* 0% {left: 0; left:100px; background-color:green;}

    25% {left: 100px; background-color:yellow}
    
    50% {left: 50px; background-color:black}

    75% {left: 50; top:140px; background-color:blue}

    100% {left: 50; background-color:white}

*/

	}
.right{
	width:150px;
	height:170px;
	position:absolute;
	right:600px;
	top:340px;
}
